<form>
        <div class="container">
          <hr>
      
          <label for="email"><b>Course Code</b></label>
          <input id = "email" type="text" placeholder="Course Code" name="course_code" required>
      
          <label for="password"><b>Course Name</b></label>
          <input id = "password" type="text" placeholder="Course Name" name="course_name" required>
        
          <h1>{{student_name}}</h1>
          <button type="submit" class="registerbtn">Register</button>
        </div>
</form>